* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #1d0000, #20205b);
}

.container {
    display: flex;
    width: 300px;
    height: 250px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.right {
    border-radius: 0 10px 10px 0;
    background: #ff461a;
    color: white;
}

.left,
.right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dayNumber {
    font-size: 90px;
    line-height: calc(90px + 8px);
    font-weight: 600;
}

#dayName {
    font-size: 24px;
    line-height: calc(24px + 8px);
    font-weight: 400;
}

#month,
#year {
    font-size: 24px;
    line-height: calc(24px + 8px);
    font-weight: 400;
}
