* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 180px;
    color: #fff;

    &::before {
        content: "";
        width: 180px;
        height: 180px;
        background: #f41b75;
        border-radius: 5px;
        position: absolute;
        left: -50px;
        top: -50px;
        z-index: -1;
    }

    &::after {
        content: "";
        width: 180px;
        height: 180px;
        background: #419aff;
        border-radius: 50%;
        position: absolute;
        right: -30px;
        bottom: -50px;
        z-index: -1;
    }
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(234 0 255 / 0.11);
    border-radius: 10px;
    backdrop-filter: blur(40px);

    & span {
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 80px;
        width: 110px;

        &[name]::after {
            content: attr(name);
            font-size: 16px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
