* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 60px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
}

.popup {
    position: absolute;
    top: -10%;
    left: 50%;
    width: 400px;
    background: #fff;
    border-radius: 6px;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0px 30px 30px;
    color: #333;
    transition: transform 0.3s, top 0.3s;
}

.open-popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin-block: 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0px;
    background: #6fd649;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}