* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7edff;
}

.buttons {
    margin: 50px;
}

.buttons button {
    background: #333;
    color: #fff;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

#toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast {
    --toast-duration: 3000ms;
    display: flex;
    align-items: center;
    width: 400px;
    min-height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0 0 0 / 0.3);
    position: relative;
    transform: translateX(100%);
    animation: moveLeft 0.2s linear forwards; 
}

@keyframes moveLeft {
    100% {
        transform: translateX(0);
    }
}

.toast i {
    margin: 0 20px;
    font-size: 35px;
}

.toast.success i {
    color: green;
}

.toast.error i {
    color: red;
}

.toast.invalid i {
    color: orange;
}

.toast::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #3e3e3e;
    animation: timer var(--toast-duration) linear forwards;
}

@keyframes timer {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
