* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    color: white;

    & h1 {
        font-size: 45px;
        font-weight: 500;
        margin-top: -50px;
        margin-bottom: 50px;

        & span {
            color: #ff2963;
        }
    }

    & textarea {
        width: 600px;
        height: 250px;
        background: #403d84;
        color: #fff;
        font-size: 15px;
        border: none;
        outline: none;
        padding: 20px;
        border-radius: 10px;
        resize: none;
        margin-bottom: 30px;

        &::placeholder {
            font-size: 16px;
            color: #ddd;
        }
    }
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 600px;

    & select {
        flex: 1;
        color: #fff;
        background: #403d84;
        height: 50px;
        padding: 0px 20px;
        outline: none;
        border: none;
        border-radius: 35px;
        appearance: none;
        -webkit-appearance: none;
        background-image: url("assets//dropdown.png");
        background-repeat: no-repeat;
        background-size: 16px;
        background-position-x: calc(100% - 20px);
        background-position-y: 20px;
    }

    & button {
        display: flex;
        align-items: center;
        background: #ff2963;
        color: #fff;
        font-size: 16px;
        padding: 10px 30px;
        border-radius: 35px;
        border: none;
        outline: none;
        cursor: pointer;

        & img {
            width: 16px;
            margin-right: 10px;
        }
    }
}

