:root {
    --blue-color: #2c7ced;
    --white-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #bbc8fd;
}

.container {
    width: 100%;
    max-width: 650px;
    background-color: var(--white-color);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.header > h1 {
    position: relative;
    font-size: 2rem;
    margin-bottom: 30px;
}

.header > h1::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: var(--blue-color);
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50px;
}

.body {
    text-align: center;
}

.quote {
    display: none;
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 20px;
    min-height: 120px;
}

.quote::before,
.quote::after {
    content: '"';
}

.author {
    display: none;
    margin-top: 10px;
    float: right;
    position: relative;
}

.author::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--blue-color);
    top: 50%;
    left: -30px;
    border-radius: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.btn {
    height: 60px;
    padding: 15px 40px;
    border: 1px solid var(--blue-color);
    outline: none;
    border-radius: 50px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.copy {
    display: none;
    background-color: transparent;
    color: black;
}
