* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background: #d3a5fe;
    background: linear-gradient(135deg, rgba(211, 165, 254, 1) 0%, rgba(151, 189, 255, 1) 100%);
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
    margin-left: 200px;
    min-height: 100vh;
}

header {
    width: fit-content;
}

.title {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 20px;
}

.title > img {
    width: 50px;
    height: 50px;
}

.add-note {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: #fff;
    background: #8400ff;
    background: linear-gradient(0deg, rgba(132, 0, 255, 1) 0%, rgba(170, 79, 255, 1) 100%);
    border-radius: 40px;
    cursor: pointer;
}

.notes-container {

}

.input-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}

.delete {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 10px;
    right: 10px;
    user-select: none;
    cursor: pointer;
}