* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/background.png");
    background-position: center;
    background-size: cover;
    padding: 0px 8%;
    position: relative;
}

.logo {
    width: 120px;
    padding: 20px 0px;
    cursor: pointer;
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;

    & .launch-time {
        display: flex;

        & > div {
            flex-basis: 100px;
            text-align: center;

            & > p {
                font-size: 60px;
                margin-bottom: -14px;
            }
        }
    }

    & h1 {
        font-size: 64px;
        font-weight: 600;

        & span {
            color: #ff3753;
        }
    }

    & button {
        display: flex;
        align-items: center;
        margin-top: 30px;
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        padding: 12px 25px;
        color: #fff;
        cursor: pointer;

        & img {
            width: 16px;
            margin-left: 10px;
        }
    }
}

.rocket {
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket {
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 105%;
        opacity: 1;
    }
}
