* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: #191919;
}

.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 100%;
    filter: grayscale(1);
    transition: transform 0.5s;
    scroll-snap-align: start;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#next-btn, 
#back-btn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}


