:root {
    --br-card: 20px;
    --padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: var(--br-card);
    padding: 40px 35px;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search input {
    border: none;
    outline: none;
    background: #ebfffc;
    color: #343241;
    padding: var(--padding) calc(var(--padding) * 2);
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 1rem;
}

.search button {
    border: none;
    outline: none;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.error {
    display: none;

    margin-top: 10px;
    margin-left: 25px;

    color: rgb(255, 73, 73);
    font-size: 1rem;
    text-align: left;
}

.weather {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.city {
    font-size: 2.5rem;
    font-weight: 500;
}

.temp {
    font-size: 3rem;
    font-weight: 700;
}

.weather-icon {
    width: 150px;
}

.details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.col {
    display: flex;
    flex: 1;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    padding: var(--padding);

    box-shadow:
      inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
      inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
      /* 3px 2px 10px rgba(0, 0, 0, 0.25), */
      inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
      inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);  

    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.col > img {
    width: 40px;
    margin-right: 10px;
}

.info > p {
    text-align: start;
}
