* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #39297b;
    color: #fff;
}

h1 {
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}

form {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #434989;
    border-radius: 8px;

    & input {
        flex: 1;
        height: 100%;
        outline: none;
        border: none;
        background: transparent;
        color: #fff;
        font-size: 18px;
        padding: 0 30px;
    }

    & button {
        padding: 0px 40px;
        height: 100%;
        background: #ff3929;
        color: #fff;
        font-size: 18px;
        outline: none;
        border: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        cursor: pointer;
    }
}

::placeholder {
    color: #fff;
    font-size: 18px;
}

#show-more-btn {
    display: none;
    background: #ff3929;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
}

#search-result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 80%;
    margin: 100px auto 50px;

    & img {
        width: 100%;
        height: 230px;
        object-fit: cover;
        border-radius: 5px;
    }
}